{ns beda-emr-core
 import #{zen.fhir}
 profiles {:zen/tags #{zen.fhir/profiles}
           :schemas
           {"Questionnaire"
            {"https://emr.beda.software/StructureDefinition/fhir-emr-questionnaire"
             #zen/quote beda-emr-core.questionnaire/schema}}}}
